.AdminPanel {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 950px;
    max-width: 100%;
}

.WorksList {
    color: white;
}

// .Breadcrumbs {
//     align-self: flex-start;

//     margin: 16px;
// }