.WorkForm {
    display: flex;
    flex-direction: column;

    width: 500px;
    max-width: 100%;
    height: fit-content;
    max-height: 100vh;
    overflow: scroll;

    padding: 16px;

    background: #f9f9f9;
    border-radius: 4px;

    .MuiFormControl-root {
        margin: 8px 0;
    }

    .FileInput {
        margin: 4px 0 16px;
    }

    &-Row {
        display: flex;
        justify-content: space-between;

        .MuiFormControl-root {
            flex-grow: 1;
            flex-basis: 50%;

            &:first-child:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    .MuiSelect-select {
        padding: 10.5px 14px;
    }
}