* {
  box-sizing: border-box;
}

#root {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  
  min-height: 100vh;
  padding-top: 64px;
  background: #E9E9E9;
  
  @media (max-width: 600px) {
    padding: 56px 0;
  }
  
  @media (min-width: 700px) {
    padding: 64px 16px 56px;
  }
}

